<!-- <style type="text/css">
  .footer {
    min-height: 50px;
    background: blue;
  }
</style> -->


<style type="text/css">
    .footer {
        min-height: 50px;
    }
</style>

<!-- Footer -->
{% comment %} <div class="d-flex flex-row align-self-center footer bg-white shadow-lg">
    <p class="m-auto text-muted"><small>&copy; Mo.Fayed 2019-2020 - {{today}} - {{time}} </small></p>
</div> {% endcomment %}
<!-- End Footer -->



<footer class="footer">
  <div class="d-flex flex-row align-self-center footer shadow-lg">
    <p class="m-auto" style="color: lightcyan;!important;">
      <small>Copyright 2021 Mo.Fayed &copyb-planit.com - All Rights
        Reserved </small></p>
  </div>
</footer>

<!-- 
.site-footer {
background: orange;
}

#footer-content {
background: red;
}
<footer class="site-footer">
  <div id="footer-content">
    <p class="m-auto"><small>Copyrite 2020 @ PlanIT - All Rights Reserved </small></p>
  </div>
</footer> -->